<html>
    <body>
        <h1>Enemy Page</h1>
        <p>World Worst Enemy</p>
        <table border="1">
            <tr>
                <td><p>Speed:</p></td>
                <td><p>{{ speed }}</p></td>
            </tr>
            <tr>
                <td><p>Health:</p></td>
                <td><p>{{ health }}</p></td>
                <tr>
                    <td><p>Damage:</p></td>
                    <td><p>{{ damage }}</p></td>
                </tr>
            </tr>
        </table>
    </body>
</html>